APP/AppAmericaVirtual/CapaDatos/Web References/wsAmericaVirtual/wsAmeV.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerPaises">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPaisesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerPaisesResult" type="tns:ArrayOfPaises" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPaises">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Paises" nillable="true" type="tns:Paises" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Paises">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrip" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExisteUSuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExisteUSuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExisteUSuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCiudad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codPais" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCiudadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCiudadResult" type="tns:ArrayOfCiudad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCiudad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Ciudad" nillable="true" type="tns:Ciudad" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ciudad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrip" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtenerTemperatura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codCiudad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codPais" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerTemperaturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerTemperaturaResult" type="tns:ArrayOfTemperatura" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTemperatura">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Temperatura" nillable="true" type="tns:Temperatura" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Temperatura">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoCiudad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoPais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GF" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerPaisesSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerPaises" />
  </wsdl:message>
  <wsdl:message name="ObtenerPaisesSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerPaisesResponse" />
  </wsdl:message>
  <wsdl:message name="ExisteUSuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ExisteUSuario" />
  </wsdl:message>
  <wsdl:message name="ExisteUSuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ExisteUSuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerCiudadSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCiudad" />
  </wsdl:message>
  <wsdl:message name="ObtenerCiudadSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCiudadResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerTemperaturaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerTemperatura" />
  </wsdl:message>
  <wsdl:message name="ObtenerTemperaturaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerTemperaturaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsAmeVSoap">
    <wsdl:operation name="ObtenerPaises">
      <wsdl:input message="tns:ObtenerPaisesSoapIn" />
      <wsdl:output message="tns:ObtenerPaisesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExisteUSuario">
      <wsdl:input message="tns:ExisteUSuarioSoapIn" />
      <wsdl:output message="tns:ExisteUSuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCiudad">
      <wsdl:input message="tns:ObtenerCiudadSoapIn" />
      <wsdl:output message="tns:ObtenerCiudadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTemperatura">
      <wsdl:input message="tns:ObtenerTemperaturaSoapIn" />
      <wsdl:output message="tns:ObtenerTemperaturaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsAmeVSoap" type="tns:wsAmeVSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerPaises">
      <soap:operation soapAction="http://tempuri.org/ObtenerPaises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteUSuario">
      <soap:operation soapAction="http://tempuri.org/ExisteUSuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCiudad">
      <soap:operation soapAction="http://tempuri.org/ObtenerCiudad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTemperatura">
      <soap:operation soapAction="http://tempuri.org/ObtenerTemperatura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsAmeVSoap12" type="tns:wsAmeVSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerPaises">
      <soap12:operation soapAction="http://tempuri.org/ObtenerPaises" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteUSuario">
      <soap12:operation soapAction="http://tempuri.org/ExisteUSuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCiudad">
      <soap12:operation soapAction="http://tempuri.org/ObtenerCiudad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTemperatura">
      <soap12:operation soapAction="http://tempuri.org/ObtenerTemperatura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsAmeV">
    <wsdl:port name="wsAmeVSoap" binding="tns:wsAmeVSoap">
      <soap:address location="http://localhost:2361/wsAmeV.asmx" />
    </wsdl:port>
    <wsdl:port name="wsAmeVSoap12" binding="tns:wsAmeVSoap12">
      <soap12:address location="http://localhost:2361/wsAmeV.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>